.LOOOL{
    text-align: center;
    text-shadow: rgb(73, 22, 22);
    color: goldenrod;
    font-style: oblique;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.LOOOL tips {
    text-align: center;

}

.Farm h2{
    margin-top: 100px;
    text-align: center;
    text-shadow: black;
    color: goldenrod;
    font-style: oblique;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.Farm img{
    position: relative;
    left: 10vw;
    width: 600px
    
}

.Farm p{
    text-align: center;
    text-shadow: black;
    color: white;
    font-style: oblique;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.Team h2{
    margin-top: 50px;
    text-align: center;
    text-shadow: black;
    color: goldenrod;
    font-style: oblique;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.Team p{
    text-align: center;
    text-shadow: black;
    color: white;
    font-style: oblique;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}